spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sales_inventory_dev
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

app:
  security:
    jwt:
      secret: "9abbe1c291649b7a344009b06589cdfcdebf5d27edb5a2ca8ce6619559b8ed89"
      expiration_minutes: 120

logging:
  level:
    root: info
    org.springframework.web: debug
    com.christn.salesinventoryapi: trace